<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="conStr_mysql" connectionString="server=localhost;port=3306;user id=root;password=root;database=sharedparking;Charset=utf8;"/>
		<add name="base_url" connectionString="http://47.108.14.232:8004" />
		<add name="record_mysql_flag" connectionString="1"/>
		<add name="record_http_flag" connectionString="1" />
		<add name="redis_hosts" connectionString="127.0.0.1:3499,allowadmin=true" />
		<add name="redis_lock_pre_command" connectionString="lock_pre_command" />
		<add name="lock_command_url" connectionString="/tp5/public/index.php/api/timer/lock/lock_command/lock_command" />
	</connectionStrings>
</configuration>